DATABASE_URL=postgresql://surgeshield:<password>@localhost:5432/surgeshield
INTENT_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/000000000000/intents.fifo
NOTIFY_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/000000000000/notify
DDB_INTENTS=ss_intents
DDB_CONTROL=ss_control
AWS_REGION=ap-south-1
JWT_SECRET=super_secret_jwt_key_123456789
PORT=8080
